<div class="card h-100">
  <div class="card-body">
    <h5 class="card-title fw-bold">
      <img src="/images/scorers.svg" alt="Trofeo" width="24" height="24" class="me-2"> Máximos Goleadores
    </h5>
    <ul class="list-group list-group-flush">
      {{#each topScorers}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <span class="me-3 fw-bold">{{increment @index}}</span>
            <img src="{{this.image}}" alt="Foto de {{this.name}}" class="rounded-circle me-3" style="width: 40px; height: 40px; object-fit: cover;">
            <div>
              <div class="fw-semibold">{{this.name}}</div>
              <small class="text-muted">{{this.team.name}}</small> <!-- Acceso directo al nombre del equipo -->
            </div>
          </div>
          <span class="fw-bold">{{this.goals}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
