<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="icon" href="/images/logo.png" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    function fetchLigaData() {
      const leagueId = document.getElementById("ligaSelect").value;
      const section = "{{section}}"; // Obtiene la sección activa ('equipos' o 'jugadores')
      window.location.href = `/dashboard/admin/${section}?leagueId=${leagueId}`;
    }

    // Función de búsqueda en las tarjetas de equipos
    function filterTeams() {
      const input = document.getElementById("searchInput").value.toLowerCase();
      const cards = document.querySelectorAll(".col-md-6.col-lg-4");

      cards.forEach(card => {
        const teamName = card.querySelector(".card-header h5").textContent.toLowerCase();
        if (teamName.includes(input)) {
          card.style.display = ""; // Muestra la tarjeta si coincide con la búsqueda
        } else {
          card.style.display = "none"; // Oculta la tarjeta si no coincide
        }
      });
    }

    // Función de búsqueda en la tabla de jugadores
    function filterPlayers() {
      const input = document.getElementById("searchPlayerInput").value.toLowerCase();
      const rows = document.querySelectorAll("#playersTable tbody tr");

      rows.forEach(row => {
        const playerName = row.querySelector(".player-name").textContent.toLowerCase();
        if (playerName.includes(input)) {
          row.style.display = ""; // Muestra la fila si coincide con la búsqueda
        } else {
          row.style.display = "none"; // Oculta la fila si no coincide
        }
      });
    }

    function filterPlayersByTeam() {
      const selectedTeamId = document.getElementById("teamFilterSelect").value;
      const rows = document.querySelectorAll("#playersTable tbody tr");

      rows.forEach(row => {
        const rowTeamId = row.getAttribute("data-team-id");
        if (selectedTeamId === "all" || rowTeamId === selectedTeamId) {
          row.style.display = ""; // Muestra la fila si coincide el equipo o está en "Todos"
        } else {
          row.style.display = "none"; // Oculta la fila si no coincide
        }
      });
    }

    function toggleCaptainFields() {
      const isChecked = document.getElementById("newCaptainCheckbox").checked;
      document.getElementById("existingCaptainSelect").style.display = isChecked ? "none" : "block";
      document.getElementById("newCaptainFields").style.display = isChecked ? "block" : "none";
    }

    function validateForm() {
      let isValid = true;

      // Validar Nombre del Equipo
      const teamName = document.getElementById('teamName').value.trim();
      if (!teamName || teamName.length < 3) {
        document.getElementById('teamNameError').style.display = 'block';
        isValid = false;
      } else {
        document.getElementById('teamNameError').style.display = 'none';
      }

      // Validar Nombre de Usuario del Capitán
      const username = document.getElementById('newCaptainUsername').value.trim();
      if (!username || username.length < 3) {
        document.getElementById('newCaptainUsernameError').style.display = 'block';
        isValid = false;
      } else {
        document.getElementById('newCaptainUsernameError').style.display = 'none';
      }

      // Validar Contraseña del Capitán
      const password = document.getElementById('newCaptainPassword').value;
      const passwordPattern = /^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$/; // Al menos 8 caracteres, una mayúscula y un número
      if (!passwordPattern.test(password)) {
        document.getElementById('newCaptainPasswordError').style.display = 'block';
        isValid = false;
      } else {
        document.getElementById('newCaptainPasswordError').style.display = 'none';
      }

      return isValid;
    }


    function submitTeamForm(event) {
      event.preventDefault(); // Evita que el formulario se envíe automáticamente

      const formData = new FormData(event.target);

      fetch('/dashboard/admin/equipos', {
        method: 'POST',
        body: formData,
      })
        .then(response => response.json())
        .then(data => {
          const errorMessage = document.getElementById('error-message');
          if (data.error) {
            errorMessage.textContent = data.error;  // Muestra el mensaje de error
            errorMessage.style.display = 'block';    // Muestra el contenedor de error
          } else {
            // Si no hay error, redirige o realiza alguna acción
            window.location.href = '/dashboard/admin/equipos';
          }
        })
        .catch(error => {
          console.error('Error al registrar el equipo:', error);
          const errorMessage = document.getElementById('error-message');
          errorMessage.textContent = 'Hubo un error al registrar el equipo. Por favor, inténtelo de nuevo.'; // Error genérico
          errorMessage.style.display = 'block'; // Muestra el contenedor de error
        });
    }


    document.getElementById('addTeamForm').addEventListener('submit', submitTeamForm);


    document.getElementById('addLeagueModal').addEventListener('submit', function (event) {
      const leagueName = document.getElementById('newLeagueName').value.trim();
      if (leagueName.length < 3) {
        event.preventDefault();
        document.getElementById('newLeagueNameError').style.display = 'block';
      } else {
        document.getElementById('newLeagueNameError').style.display = 'none';
      }
    });

  
  </script>

</head>

<body>
  {{> navbaradmin}}

  <div class="container mt-4 " style="min-height: 80vh;">
    <h1 class="fw-bold">Panel de Administración</h1>
    {{#if (eq section 'ligas')}}
    <div class="card p-4 mb-4">
      <h2 class="fw-bold"><i class="bi bi-list-ul me-2"></i>Ligas</h2>
      <p class="text-muted">Gestión de ligas registradas</p>

      <!-- Mostrar mensaje si no hay ligas -->
      {{#if leagues.length}}
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        {{#each leagues}}
        <div class="col">
          <div class="card shadow-sm border-0 h-100">
            <div class="card-body text-center">
              <i class="bi bi-trophy-fill text-warning fs-1 mb-3"></i>
              <h5 class="card-title fw-bold">{{this.name}}</h5>
              <p class="text-muted small mb-0">
                <i class="bi bi-people-fill me-1"></i> Equipos: {{this.totalTeams}}
              </p>
              <p class="text-muted small mb-0">
                <i class="bi bi-bar-chart-fill me-1"></i> Partidos: {{this.matchesPlayed}}
              </p>
              <p class="text-muted small">
                <i class="bi bi-graph-up-arrow me-1"></i> Goles: {{this.totalGoalsFor}}
              </p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <!-- Botón para editar -->
              <button class="btn btn-outline-primary btn-sm me-2" data-bs-toggle="modal"
                data-bs-target="#editLeagueModal-{{this.id}}">
                <i class="bi bi-pencil me-1"></i>Editar
              </button>

              <!-- Botón para eliminar con modal -->
              <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#confirmDeleteModal-{{this.id}}">
                <i class="bi bi-trash me-1"></i> Eliminar
              </button>
            </div>
          </div>
        </div>

        <!-- Modal de confirmación para eliminar -->
        <div class="modal fade" id="confirmDeleteModal-{{this.id}}" tabindex="-1"
          aria-labelledby="confirmDeleteModalLabel-{{this.id}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel-{{this.id}}">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ¿Estás seguro de que deseas eliminar la liga <strong>{{this.name}}</strong>? Esto eliminará todos los
                datos asociados.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form action="/dashboard/admin/ligas/{{this.id}}/eliminar" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-dark text-light">Eliminar Liga</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal para editar liga -->
        <div class="modal fade" id="editLeagueModal-{{this.id}}" tabindex="-1" aria-labelledby="editLeagueModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Editar Liga</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="/dashboard/admin/ligas/{{this.id}}/editar" method="POST">
                <div class="modal-body">
                  <label for="leagueName" class="form-label">Nombre de la Liga</label>
                  <input type="text" class="form-control" id="leagueName" name="name" value="{{this.name}}" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-dark text-light">Guardar Cambios</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{else}}
      <p class="text-center text-muted">No hay ligas registradas.</p>
      {{/if}}

      <!-- Botón para agregar una nueva liga -->
      <button class="btn btn-dark mt-3" data-bs-toggle="modal" data-bs-target="#addLeagueModal">
        <i class="bi bi-plus-lg me-1"></i> Agregar Nueva Liga
      </button>

      <!-- Modal para agregar nueva liga -->
      <div class="modal fade" id="addLeagueModal" tabindex="-1" aria-labelledby="addLeagueModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Agregar Nueva Liga</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/dashboard/admin/ligas" method="POST">
              <div class="modal-body">
                <label for="newLeagueName" class="form-label">Nombre de la Liga</label>
                <input type="text" class="form-control" id="newLeagueName" name="name" required>
                <div id="newLeagueNameError" class="text-danger" style="display: none;">El nombre debe tener al menos 3
                  caracteres.</div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar Liga</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{/if}}


    {{#if (eq section 'equipos')}}
    {{> select_admin}}

    <div class="card p-4 mb-4">
      <h2 class="fw-bold">Equipos</h2>
      <p class="text-muted">Gestión de equipos de la liga</p>

      <div class="d-flex justify-content-between mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Buscar equipo..."
          aria-label="Buscar equipo" style="max-width: 500px;" oninput="filterTeams()">
        <!-- Botón para abrir el modal de agregar equipo -->
        <button class="btn btn-dark ms-3" data-bs-toggle="modal" data-bs-target="#addTeamModal">
          <i class="bi bi-plus-lg me-1"></i>Añadir Equipo
        </button>

        <!-- Modal de Agregar Equipo -->
        <div class="modal fade" id="addTeamModal" tabindex="-1" aria-labelledby="addTeamModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addTeamModalLabel">Agregar Equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="/dashboard/admin/equipos" method="POST" enctype="multipart/form-data"
                onsubmit="return validateForm()">
                <div id="error-message" class="alert alert-danger" style="display: none;"></div>
                {{#if errorMessage}}
                <div id="error-message" class="alert alert-danger">{{errorMessage}}</div>
                {{/if}}
                <div class="modal-body">
                  <!-- Datos del Equipo -->
                  <div class="mb-3">
                    <label for="teamName" class="form-label">Nombre del Equipo</label>
                    <input type="text" class="form-control" id="teamName" name="name" required>
                    <div id="teamNameError" class="text-danger" style="display: none;">El nombre del equipo es
                      obligatorio y debe tener al menos 3 caracteres.</div>
                  </div>
                  <div class="mb-3">
                    <label for="leagueId" class="form-label">Liga</label>
                    <select id="leagueId" name="leagueId" class="form-select" required>
                      {{#each leagues}}
                      <option value="{{this.id}}" {{#if (eq ../selectedLeagueId this.id)}}selected{{/if}}>{{this.name}}
                      </option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="teamLogo" class="form-label">Logo del Equipo (opcional)</label>
                    <input type="file" class="form-control" id="teamLogo" name="logo" accept="image/*">
                    <div id="teamLogoError" class="text-danger" style="display: none;">El logo debe ser una imagen
                      válida (JPG, PNG, etc.).</div>
                  </div>

                  <!-- Datos del Capitán -->
                  <h5 class="fw-bold">Datos del Capitán</h5>
                  <div class="mb-3">
                    <label for="newCaptainUsername" class="form-label">Nombre de Usuario del Capitán</label>
                    <input type="text" class="form-control" id="newCaptainUsername" name="newCaptainUsername" required>
                    <div id="newCaptainUsernameError" class="text-danger" style="display: none;">El nombre de usuario es
                      obligatorio y debe tener al menos 3 caracteres.</div>
                  </div>
                  <div class="mb-3">
                    <label for="newCaptainPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="newCaptainPassword" name="newCaptainPassword"
                      required>
                    <div id="newCaptainPasswordError" class="text-danger" style="display: none;">
                      La contraseña debe tener al menos 8 caracteres, una letra mayúscula y un número.
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary  btn-dark text-light">Guardar Equipo</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        {{#each teams}}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card shadow-sm border-0" style="border-radius: 12px;">
            <div class="card-header bg-dark text-white text-center"
              style="border-top-left-radius: 12px; border-top-right-radius: 12px;">
              <h5 class="fw-bold mb-0">{{this.name}}</h5>
            </div>
            <div class="card-body text-center">
              <img src="{{this.logo}}" alt="{{this.name}}" class="rounded-circle border border-2"
                style="width: 70px; height: 70px; object-fit: cover; margin-bottom: 10px;">

              <div class="d-flex justify-content-around mb-3">
                <div class="text-center">
                  <i class="bi bi-trophy-fill text-warning"></i>
                  <p class="mb-0 small text-muted">Puntos</p>
                  <p class="fw-bold mb-0">{{this.points}}</p>
                </div>
                <div class="text-center">
                  <i class="bi bi-people-fill text-info"></i>
                  <p class="mb-0 small text-muted">Partidos</p>
                  <p class="fw-bold mb-0">{{this.matchesPlayed}}</p>
                </div>
                <div class="text-center">
                  <i class="bi bi-cash-coin text-success"></i>
                  <p class="mb-0 small text-muted">Balance</p>
                  <p class="fw-bold mb-0">${{this.balance}}</p>
                </div>
              </div>

              <ul class="list-group list-group-flush text-start small">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span><i class="bi bi-person-badge-fill text-primary me-2"></i>
                    Capitán:</span>
                  <span>{{this.captain.username}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span><i class="bi bi-bar-chart-fill text-secondary me-2"></i> GF
                    / GC:</span>
                  <span>{{this.goalsFor}} / {{this.goalsAgainst}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span><i class="bi bi-arrow-up-right-square-fill text-success me-2"></i>
                    G: {{this.victories}}</span>
                  <span><i class="bi bi-arrow-right-square-fill text-muted me-2"></i>
                    E: {{this.draws}}</span>
                  <span><i class="bi bi-arrow-down-right-square-fill text-danger me-2"></i>
                    P: {{this.defeats}}</span>
                </li>
              </ul>
            </div>
            <div class="card-footer bg-light text-center">
              <!-- Botón para editar -->
              <button class="btn btn-outline-primary btn-sm me-2" data-bs-toggle="modal"
                data-bs-target="#editTeamModal-{{this.id}}">
                <i class="bi bi-pencil me-1"></i> Editar
              </button>

              <!-- Botón para eliminar -->
              <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#confirmDeleteTeamModal-{{this.id}}">
                <i class="bi bi-trash me-1"></i> Eliminar
              </button>
            </div>
          </div>
        </div>

        <!-- Modal para editar equipo -->
        <div class="modal fade" id="editTeamModal-{{this.id}}" tabindex="-1"
          aria-labelledby="editTeamModalLabel-{{this.id}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-pencil-square me-2"></i>Editar Equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="/dashboard/admin/equipos/{{this.id}}/editar" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="teamName-{{this.id}}" class="form-label">Nombre del Equipo</label>
                    <input type="text" class="form-control" id="teamName-{{this.id}}" name="name" value="{{this.name}}"
                      required>
                  </div>
                  <div class="mb-3">
                    <label for="teamLogo-{{this.id}}" class="form-label">Logo del Equipo (opcional)</label>
                    <input type="file" class="form-control" id="teamLogo-{{this.id}}" name="logo" accept="image/*">
                  </div>
                  <div class="mb-3">
                    <label for="teamBalance-{{this.id}}" class="form-label">Balance del Equipo</label>
                    <input type="number" class="form-control" id="teamBalance-{{this.id}}" name="balance"
                      value="{{this.balance}}" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-warning text-dark">Guardar Cambios</button>
                </div>
              </form>

            </div>
          </div>
        </div>

        <!-- Modal de confirmación para eliminar equipo -->
        <div class="modal fade" id="confirmDeleteTeamModal-{{this.id}}" tabindex="-1"
          aria-labelledby="confirmDeleteTeamModalLabel-{{this.id}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-exclamation-circle me-2"></i>Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ¿Estás seguro de que deseas eliminar el equipo <strong>{{this.name}}</strong>? Esta acción no se puede
                deshacer.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form action="/dashboard/admin/equipos/{{this.id}}/eliminar" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-danger">Eliminar Equipo</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>

    </div>

    {{/if}}
    {{#if (eq section 'jugadores')}}
    {{> select_admin}}

    <div class="card p-4 mb-4" style="min-height: 80vh;">
      <h2 class="fw-bold">Jugadores</h2>
      <p class="text-muted">Gestión de jugadores de la liga</p>

      <!-- Filtro por equipo y campo de búsqueda -->
      <div class="d-flex justify-content-between mb-3">
        <select id="teamFilterSelect" class="form-select w-auto" onchange="filterPlayersByTeam()">
          <option value="all">Todos los equipos</option>
          {{#each teams}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>

        <input type="text" id="searchPlayerInput" class="form-control" placeholder="Buscar jugador..."
          aria-label="Buscar jugador" style="max-width: 500px;" oninput="filterPlayers()">

        <button class="btn btn-dark ms-3" type="button" data-bs-toggle="modal" data-bs-target="#addPlayerModal">
          <i class="bi bi-plus-lg me-1"></i>Añadir Jugador
        </button>


        <!-- Modal para Agregar Jugador -->
        <div class="modal fade" id="addPlayerModal" tabindex="-1" aria-labelledby="addPlayerModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addPlayerModalLabel">Agregar Jugador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="/dashboard/admin/jugadores" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="playerName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="playerName" name="name" required>
                  </div>
                  <div class="mb-3">
  <label for="playerPosition" class="form-label">Posición</label>
  <select id="playerPosition" name="position" class="form-select" required>
    <option value="Portero">Portero</option>
    <option value="Defensa">Defensa</option>
    <option value="Medio">Medio</option>
    <option value="Delantero">Delantero</option>
  </select>
</div>

                  <div class="mb-3">
                    <label for="playerGoals" class="form-label">Goles</label>
                    <input type="number" class="form-control" id="playerGoals" name="goals" min="0" value="0">
                  </div>
                  <div class="mb-3">
                    <label for="playerTeam" class="form-label">Equipo</label>
                    <select id="playerTeam" name="teamId" class="form-select" required>
                      {{#each teams}}
                      <option value="{{this.id}}">{{this.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="playerImage" class="form-label">Imagen</label>
                    <input type="file" class="form-control" id="playerImage" name="image" accept="image/*">
                  </div>
                  <input type="hidden" name="leagueId" value="{{selectedLeagueId}}">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-dark">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Modal para Editar Jugador -->
        {{#each players}}
        <div class="modal fade" id="editPlayerModal-{{this.id}}" tabindex="-1"
          aria-labelledby="editPlayerModalLabel-{{this.id}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Editar Jugador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="/dashboard/admin/jugadores/{{this.id}}/editar" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="playerName-{{this.id}}" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="playerName-{{this.id}}" name="name"
                      value="{{this.name}}" required>
                  </div>
                  <div class="mb-3">
  <label for="playerPosition" class="form-label">Posición</label>
  <select id="playerPosition" name="position" class="form-select" required>
    <option value="Portero">Portero</option>
    <option value="Defensa">Defensa</option>
    <option value="Medio">Medio</option>
    <option value="Delantero">Delantero</option>
  </select>
</div>

                  <div class="mb-3">
                    <label for="playerGoals-{{this.id}}" class="form-label">Goles</label>
                    <input type="number" class="form-control" id="playerGoals-{{this.id}}" name="goals"
                      value="{{this.goals}}" min="0">
                  </div>
                  <div class="mb-3">
                    <label for="playerTeam-{{this.id}}" class="form-label">Equipo</label>
                    <select id="playerTeam-{{this.id}}" name="teamId" class="form-select">
                      {{#each ../teams}}
                      <option value="{{this.id}}" {{#if (eq ../team.id this.id)}}selected{{/if}}>{{this.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="playerImage-{{this.id}}" class="form-label">Imagen</label>
                    <input type="file" class="form-control" id="playerImage-{{this.id}}" name="image" accept="image/*">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-warning text-dark">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {{/each}}





      </div>



      <!-- Contenedor de la tabla responsiva -->
      <div class="table-responsive">
  <table class="table table-hover align-middle" id="playersTable">
    <thead class="table-dark text-center">
      <tr>

        <th scope="col">Foto</th>
        <th scope="col">Nombre <i class="bi bi-person-circle text-info"></i></th>
        <th scope="col">Posición <i class="bi bi-geo text-primary"></i></th>
        <th scope="col">PJ <i class="bi bi-clipboard-check text-success"></i></th>
        <th scope="col">Goles <i class="bi bi-trophy text-warning"></i></th>
        <th scope="col">TA <i class="bi bi-square-fill text-warning"></i></th>
        <th scope="col">TR <i class="bi bi-square-fill text-danger"></i></th>
        <th scope="col">Equipo <i class="bi bi-people-fill text-secondary"></i></th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each players}}
      <tr>

        <td class="text-center">
          <img src="{{this.image}}" alt="Foto de {{this.name}}"
               style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
        </td>
        <td class="fw-bold text-center">{{this.name}}</td>
        <td class="text-center">
          {{#if (eq this.position "Portero")}}
            <i class="bi bi-shield-fill text-primary"></i> Portero
          {{else if (eq this.position "Defensa")}}
            <i class="bi bi-stop-fill text-success"></i> Defensa
          {{else if (eq this.position "Medio")}}
            <i class="bi bi-circle-fill text-warning"></i> Medio
          {{else if (eq this.position "Delantero")}}
            <i class="bi bi-forward-fill text-danger"></i> Delantero
          {{/if}}
        </td>
        <td class="text-center">{{this.matchesPlayed}}</td>
        <td class="text-center">
          <i class="bi bi-star-fill text-warning"></i> {{this.goals}}
        </td>
        <td class="text-center">
          <i class="bi bi-square-fill text-warning"></i> {{this.yellowCards}}
        </td>
        <td class="text-center">
          <i class="bi bi-square-fill text-danger"></i> {{this.redCards}}
        </td>
        <td class="text-center">{{this.team.name}}</td>
        <td class="text-center">
          <a href="#" class="btn btn-sm btn-outline-primary me-2"
             data-bs-toggle="modal" data-bs-target="#editPlayerModal-{{this.id}}">
            <i class="bi bi-pencil-fill"></i>
          </a>
          <a href="#" class="btn btn-sm btn-outline-danger"
             data-bs-toggle="modal" data-bs-target="#deletePlayerModal-{{this.id}}">
            <i class="bi bi-trash-fill"></i>
          </a>
        </td>
      </tr>
      {{/each}}

      {{#unless players.length}}
      <tr>
        <td colspan="10" class="text-center text-muted py-3">
          <i class="bi bi-exclamation-triangle-fill text-warning"></i> No hay jugadores disponibles
        </td>
      </tr>
      {{/unless}}
    </tbody>
  </table>
</div>

    </div>

    {{/if}}


  </div>

</body>
{{> footer}}

</html>